/*
Chad Davidson
02/16/2025
styles.css
*/

/* CSS Reset Rules */
body,header, main, nav, footer, img, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
/*body styles*/	
}
body{
	background-color: rgba(54, 159, 183, 0.661);
}
/* header styles*/

header{
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}
h1{
	text-shadow: 0cap;
}
h2{
	
}

/*images styles*/
img {
	max-width: 100%;
	display: block;
}

/*navigation styles*/

nav {
	float: right;
}  
nav ul {
	list-style-type: none;
	padding: 0%;
	
}
nav li {
	display: inline-block;
	margin: 0 15px;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none
}

/*Main styles*/

main {
	text-align: center;
}

#about {
text-align: left;
}
article{
	 background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
article ul {
    list-style-type: disc;
    padding-left: 20px;
}
#contact {
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
	text-decoration: none;
}
#skills {
text-decoration: none;

}

/*footer style rules*/

footer {
	text-align: right;
	font-size: 1.75em;
}


	
	
	


	
