/*
Chad Davidson
02/16/2025
styles.css
*/

/* CSS Reset Rules */
body,header, main, nav, footer, img, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
/*body styles*/	
}
body{
	background-color: blue;
}
/* header styles*/

header{
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}
h1{
	text-shadow: 0cap;
}
h2{
	
}

/*images styles*/
img {
	max-width: 100%;
	display: block;
}

/*navigation styles*/

nav {
	float: right;
}  
nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
	text-decoration: none
}
nav li {
	display: inline-block;
	font-size:	1.753em;
	text-decoration: none;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none
}

/*Main styles*/

main {
	text-align: center;
}

#about {
text-align: center;
}
article{
	text-align: center;
}
#contact {
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
	text-decoration: none;
}
#skills {
text-decoration: none;

}

/*footer style rules*/

footer {
	text-align: right;
	font-size: 1.75em;
}


	
	
	


	
