/*
Chad Davidson
02/16/2025
styles.css
*/

/* CSS Reset Rules */
body,header, main, nav, footer, img, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
/*body styles*/	
}
body{
background-color: blue;

}
/* header styles*/

header{
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}
h1{
	text-shadow: 0cap;
}
h2{
	
}

/*images styles*/
img {
	max-width: 100%;
	display: block;
}

/*navigation styles*/

nav {
	float: right;
}  
nav ul {
	list-style-type: none;
	padding: 0%;
	
}
nav li {
	display: inline-block;
	margin: 0 15px;
}
nav li a {
	display: block;
	color: #171e80;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none
}

/*Main styles*/

main {
	text-align: center;
}

#about {
text-align: left;
}
body{
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    text-align: center;
}
header {
    background: #333;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    font-style: italic;
    font-size: 1.2em;
    color: #ddd;
}
article{
	 background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#contact {
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
	text-decoration: none;
}
#skills {
text-decoration: none;

}

/*footer style rules*/

footer {
	text-align: right;
	font-size: 1.75em;
}


	
	
	


	
